{% extends "settings.html" %}
{% set active_tab = 'password' %}

{% block settings_content %}
<div class="card shadow border-0">
    <div class="card-body">
        <h4 class="card-title mb-3">Change Password</h4>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.current_password.label }} {{ form.current_password(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.new_password.label }} {{ form.new_password(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label }} {{ form.confirm_password(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
        </form>
    </div>
</div>
{% endblock %}
