{% extends "user_base.html" %}

{% block title %}Feedback Tickets{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Feedback Tickets</h1>

    {% if tickets %}
        <!--        flash -->
           <div class="container mt-3">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="alert alert-dismissible alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <a href="#" class="alert-link">
                                <ul class="flashes">
                                    {% for category, message in messages %}
                                        <li class="{{ category }}">{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            </a>
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Ticket ID</th>
                        <th>Department</th>
                        <th>Label</th>
                        <th>Question</th>
                        <th>Status</th>
                        <th>Created At</th>
                        <th>Respond</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.ticket_id }}</td>
                        <td>{{ ticket.department_name }}</td>
                        <td>{{ ticket.ticket_label }}</td>
                        <td>{{ ticket.question }}</td>
                        <td>{{ ticket.ticket_status }}</td>
                        <td>{{ ticket.created_at }}</td>
                        <td>
                            <a href="{{ url_for('user.ticket_detail_response', ticket_id=ticket.ticket_id) }}" class="btn btn-sm btn-primary">View Details</a>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No tickets available for your department.</p>
    {% endif %}
</div>
{% endblock %}
