{% extends "user_base.html" %}
{% set side_panel =False %}
{% block title %}My Settings{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <div class="list-group">
                <a href="{{ url_for('user.profile') }}" class="list-group-item list-group-item-action {% if active_tab == 'profile' %}active{% endif %}">My Profile</a>
                <a href="{{ url_for('user.u_details') }}" class="list-group-item list-group-item-action {% if active_tab == 'edit' %}active{% endif %}">Edit Details</a>
                <a href="{{ url_for('user.change_password') }}" class="list-group-item list-group-item-action {% if active_tab == 'password' %}active{% endif %}">Change Password</a>
                <a href="{{ url_for('user.logout') }}" class="list-group-item list-group-item-action text-danger">Logout</a>
            </div>
        </div>

        <!-- Content -->
        <div class="col-md-9">
            {% block settings_content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
