{% extends "user_base.html" %}

{% block title %}Ticket Details{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Ticket Details - ID: {{ ticket.ticket_id }}</h1>
    <p><strong>Department:</strong> {{ ticket.department_name }}</p>
    <p><strong>Label:</strong> {{ ticket.ticket_label }}</p>
    <p><strong>Question:</strong> {{ ticket.question }}</p>
    <p><strong>Status:</strong> {{ ticket.ticket_status }}</p>
    <p><strong>Created At:</strong> {{ ticket.created_at }}</p>

    <h2>Responses</h2>
    {% if ticket.responses %}
        <ul class="list-unstyled">
            {% for response in ticket.responses %}
                <li>→ {{ response.response }} <br>
                    <small><em>by {{ response.user_email }} on {{ response.created_at }}</em></small>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No responses yet.</p>
    {% endif %}
    {% if ticket.ticket_status == 'open': %}
    <h2>Add a Response</h2>
    <form action="{{ url_for('user.respond_to_ticket', ticket_id=ticket.ticket_id) }}" method="POST">
        <textarea class="form-control" name="response" rows="2" required></textarea>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
    {% endif %}
</div>
{% endblock %}
