<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        {% if current_user.role == 'employee' %}
            {% set side_panel = False %}
            {% include 'user_base.html' %}
        {% elif current_user.role == 'admin' %}
            {% include 'admin_base.html' %}
        {% endif %}

        <div class="text-center mb-4">

        </div>

        <div class="card mx-auto mb-4" style="max-width: 800px;">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Profile Information</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Email:</strong> <span>{{ current_user.email }}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>First Name:</strong> <span>{{ current_user.user_detail.firstname }}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Last Name:</strong> <span>{{ current_user.user_detail.lastname }}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Phone Number:</strong> <span>{{ current_user.user_detail.phone_number }}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Department:</strong> <span>{{ current_user.department }}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Role:</strong> <span>{{ current_user.role }}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="text-center mt-4">
            {% if current_user.role == 'employee' %}
                <a href="{{ url_for('user.u_details') }}" class="btn btn-primary">Edit Details</a>
            {% elif current_user.role == 'admin' %}
                <a href="{{ url_for('admin.a_details') }}" class="btn btn-primary">Edit Details</a>
            {% endif %}
        </div>
    </div>
</body>
</html>
