{% extends 'user_base.html' %}

{% block title %} User Dashboard {% endblock %}

{% block content %}

    <div class="col-md-9 p-4">
        <!-- Flash Messages -->
<!--        <div class="container mt-3">-->
<!--            {% with messages = get_flashed_messages(with_categories=true) %}-->
<!--                {% if messages %}-->
<!--                    <div class="alert alert-dismissible alert-success">-->
<!--                        <button type="button" class="close" data-dismiss="alert">&times;</button>-->
<!--                        <a href="#" class="alert-link">-->
<!--                            <ul class="flashes">-->
<!--                                {% for category, message in messages %}-->
<!--                                    <li class="{{ category }}">{{ message }}</li>-->
<!--                                {% endfor %}-->
<!--                            </ul>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                {% endif %}-->
<!--            {% endwith %}-->
<!--        </div>-->

        <!-- Dashboard Image -->
        <div class="text-center mt-4">
            <img src="{{ url_for('user.static', filename='assets/complaints-management.png') }}"
                 alt="Dashboard Image" class="img-fluid" style="max-width: 70%; height: auto; object-fit: cover;">
        </div>

    </div>

{% endblock %}
