<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
<!--        <li>-->
<!--        <div id="profile_menu_driver">-->
<!--          <div id="profile_menu" class="pr-1">-->
<!--            <div class="cursor-pointer">-->
<!--               <div class="header-profile-wrapper">-->
<!--                  <div class="position-re setting_project-owner" style="width: 35px; height: 35px;">-->
<!--                      <img data-v-3f845cc4="" src="static/assets/profile.jpg" title="Sneha Patel" style="width: 35px; height: 35px;">-->
<!--                  </div>-->
<!--               </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        </li>-->
      </ul>

    </div>
  </div>
</nav>
</body>
</html>