{% extends 'admin_base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="text-center">
        <h1 class="mb-3">📊 Admin Dashboard</h1>
        <p class="lead">Manage users,complaints, feedback and settings from one place.</p>
    </div>
        <div class="row" >
            <div class="col-md-4">
                <div class="card shadow-sm border-0.1 card-hover">
                    <div class="card-body text-center">
                        <h6>User Activation Status</h6>
                        <div>{{ active_status_html|safe }}</div>
                        </div>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-sm border-0.1 card-hover">
                    <div class="card-body text-center">
                <h6>Department Wise Users</h6>
                        <div>{{ department_html|safe }}</div>
                  </div>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-sm border-0.1 card-hover">
                    <div class="card-body text-center">
                <h6>Role Distribution</h6>
                <div>{{ role_html|safe }}</div>
                          </div>
                    </div>
            </div>
        </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="card shadow-sm border-0.1 card-hover">
                    <div class="card-body text-center">
                    <h6>Ticket Status Overview</h6>
                    <div>{{ ticket_chart_html|safe }}</div>
                          </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow-sm border-0.1 card-hover">
                    <div class="card-body text-center">
                    <h6>Tickets by Department</h6>
                    <div>{{ f_department_html|safe }}</div>
                          </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow-sm border-0.1 card-hover">
                    <div class="card-body text-center">
                    <h6>Assigned Users in Tasks by Department</h6>
                    <div>{{ assigned_task_department_html|safe }}</div>
                          </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4">
                    <div class="card shadow-sm border-0.1 card-hover">
                    <div class="card-body text-center">
                    <h6>Complaint Status Overview</h6>
                    <div>{{ complaint_status_html|safe }}</div>
                          </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow-sm border-0.1 card-hover">
                    <div class="card-body text-center">
                    <h6>Complaint Department</h6>
                    <div>{{ complaint_department_html|safe }}</div>
                          </div>
                    </div>
                </div>

            </div>
        </div>
<style>
    .card-hover {
        transition: transform 0.3s ease, font-size 0.3s ease;
    }

    .card-hover:hover {
        transform: scale(1.05); /* Slightly increase size */
    }

    .card-hover:hover .card-title {
        font-size: 1.0rem; /* Slightly increase font size */
    }

    .card-hover:hover .card-body p {
        font-size: 0.8rem; /* Slightly increase font size */
    }
</style>
{% endblock %}
